.contact-me-section {
    margin: 5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.contact-me-section .heading{
    max-width: 50%;
    text-align: center;
    line-height: 1.3;
    /* font-size: 4rem; */
}

.contact-me-section span{
    color: var(--primary);
}

.email-container{
    max-width: 72rem;
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 10rem;
    padding: 0.8rem;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.email-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}

.round-icon{
    height: 4rem;
    width: 4.2rem;
    background: url("../../assets/svgs/mail-icon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.text-field {
  flex-grow: 1; 
  margin-left: 1rem;
  font-size: 1.4rem;
  color: var(--black);
}

.text-field input::placeholder {
    color: var(--black);   
}

.send-button {
  border-radius: 4rem;
  background-color: var(--primary);
  padding: 1.4rem 2.8rem;
  cursor: pointer;
  margin-left: 1rem; 
}
.send-button p {
    color: var(--white);
    line-height: 1;
}

.mail-banner{
    margin-top: 0.5rem;
    max-width: 80rem;
    padding: 1rem;
    width: 100%;
    background: url("../../assets/svgs/mail-banner.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    background-color: var(--surface);
    /* max-width: 1280px; */

    display: flex;
    padding: 2rem 5rem;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
footer p{
    color: var(--white);
    font-weight: normal;
    font-size: 1.2rem;
}