.hero{
  /* height: 100vh; */
  width: 100%;
  /* display: flex; */
  /* justify-content: center;
  align-items: end; */
}

.hero-greeting{
  padding-top: 16rem;
  /* border: 1px solid var(--black); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-hello-text {
  border: 1.2px solid var(--black);
  border-radius: 100px;
  padding: 0.2rem 2rem;
  position: relative;  
}
.hero-hello-text img{
  position: absolute;
  top:-1.8rem;
  right:-2rem;
  height: 2.5rem;
}

.hero-intro-text{
  position: relative;
  margin-bottom: 
  4rem;
  margin-top: 1rem;
}

.hero-intro-text p{
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.hero-intro-text span{
  color: var(--primary);

}
.hero-intro-text span:hover {
  /* color: black; */
  cursor: pointer;
}

.hero-intro-text img{
  position: absolute;
  bottom:-4.2rem; 
  left:-5.6rem;  
  height: 7.2rem;
}


.hero-bottom-section{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10rem;
  
}

.semi-circle-left-content{
  width: 25vw;
  max-width: 30rem;
  position: absolute;
  top: -9rem;
  left: 10%;
}

.semi-circle-left-content img {
  height: 2.2rem;
}

.semi-circle-left-content p{
  padding: 1.6rem 0;
  color: var(--gray);
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 700;
}


.semi-circle{
  height: 37.5vh;
  width: 75vh;
  /* left: 50%; */
  border-radius: 100vh 100vh 0 0;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: end;
}

.semi-circle img{
  height: 160%;
  z-index: 1;

}
.hero-onhover{
  position:absolute;
  z-index: 0;
  height: 0px;
  width: 0px;
  pointer-events: none;
  opacity: 0;
  transition: all ease-in 200ms;
}

.semi-circle:hover .hero-onhover{
  /* box-shadow: 0px 3px 6px rgba(0,0,0,0.2); */
  height: 188%;
  width: 100%;
  opacity: 1;
  /* backdrop-filter: blur(10px); */
}

.semi-circle-right-content{
  width: 25vw;
  max-width: 30rem;
  position: absolute;
  top: -9rem;
  right: 10%; 
  display: flex;
  flex-direction: column;
  align-items: end;
  /* border: 1px solid black; */
  
}

.stars img{
  height: 2.4rem;
  margin-bottom: 0.8rem;
  /* border: 1px solid black; */
}
.semi-circle-right-content p{
  font-size: 2.8rem;
  line-height: .6;
  font-weight: 700;
  text-align: end;
}
.semi-circle-right-content span{
  font-size: 1.2rem;
  color: var(--surface);
  font-weight: 500;
}


.hero-bottom-buttons{
  position: absolute;
  display: flex;
  gap: .6rem;
  bottom: 4.2rem;
  z-index: 100;
  border: 2px solid var(--border-color);
  border-radius: 5rem;
  padding: .6rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.hero-bottom-buttons div{
  display: flex;
  border-radius: 50px;
  padding: 0.6rem 2.4rem;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  border: 1px solid transparent;

}
.hero-bottom-buttons div img{
  transition: all ease-in 200ms;
}
/* .hero-bottom-buttons div:nth-child(1){
  background-color: var(--primary);
  border: 1px solid var(--white);
}
 */
 .hero-bottom-buttons div img{
  width: 0;
  opacity: 0;
  height: 2.4rem;
}

/* .hero-bottom-buttons div:nth-child(2) p{
  font-weight: normal;
} */

.hero-bottom-buttons div:hover{
  background-color: var(--primary);
  border: 1px solid var(--white);
  padding-right: 1.8rem;
}
.hero-bottom-buttons div:hover img{
  width: 2.4rem;
  opacity: 1;
}

.hero-bottom-buttons a {
  color: var(--white);
  font-size: 1.6rem;
  /* font-weight: 700; */
}

.resume-button .hire-button{
  color: var(--white);

}


 
/* @media(max-width: 600px){
  
.semi-circle-left-content{
  left: 5%;
}

.semi-circle-right-content{
  right: 5%;   
}
}  */


@media(max-width: 600) {

  
  .hero-intro-text img{
    bottom:-5rem; 
    left: 4.2rem;  
    /* height: 7.2rem; */
  }

  .semi-circle-left-content {
    position: absolute;
    left: 0;
    top: 0rem;
    transform: rotate(-90deg);
    transform-origin: left top;
    width: max-content;
  }
  
  .semi-circle-left-content img {
    height: 1.8rem;
  }

  .semi-circle-left-content p {
    font-size: 1.2rem;
    padding: 1rem 0;
    text-align: center;
  }

  .semi-circle-right-content {
    position: absolute;
    right: 0;
    top: -6rem;
    transform: rotate(90deg);
    transform-origin: right top;
    width: max-content;
    align-items: flex-start;
  }

  .semi-circle-right-content p {
    font-size: 2rem;
    line-height: 0.8;
    text-align: left;
  }

  .stars img{
  margin-bottom: 0.5rem;
  }

  .semi-circle-right-content .stars img {
    height: 2rem;
  }

}


@media(max-width: 600px) {

  
  .hero-intro-text img{
    bottom:-5rem; 
    left: 2.2rem;  
    /* height: 7.2rem; */
  }
}


@media(max-width: 500px) {
  .semi-circle-right-content, .semi-circle-left-content{
    display: none;
  } 
}