.portfolio-section{
    /* margin-top: 3rem; */
    margin: 5rem 5rem;
}

.button {
  width: fit-content;
  border-radius: 5rem;
  padding: 1.2rem 2.5rem;
  cursor: pointer;
  transition: all ease-in-out 300ms;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
  /* border: 1px solid var(--black); */
}


.portfolio-headline{
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    z-index: 10;
    justify-content: space-between;
    /* margin-bottom: 10rem; */
    align-items: center;
    /* border: 3px solid pink; */
    margin-bottom: 3rem;
}

.portfolio-headline span{
    color: var(--primary);
}

.portfolio-headline p:nth-child(1){
    /* font-size: 4rem; */
    line-height: 1.35;
    max-width:40rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.portfolio-headline p:nth-child(2){
    max-width:36rem;
    line-height: 1.5;
}


.portfolio-card-row {
  display: flex;
  gap: 1.6rem;
  row-gap: 3.2rem;
  justify-content: center;
  /* overflow-x: auto; */
  flex-wrap: wrap;
  /* scrollbar-width: none;  */
  /* -ms-overflow-style: none;  */
}

/* .projects-card-row::-webkit-scrollbar {
  display: none; /* Chrome, Safari 
} */

.portfolio-card{
    flex: 0 0 auto; 
    width: 32rem;
    height: 36rem;
    border-radius: 2.4rem;
    background-color: #1D2939;
    stroke-width: 2px;
    stroke: rgba(255, 255, 255, 0.00);
    backdrop-filter: blur(5px);
    border: 1.5px solid var(--border-color);
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}

.portfolio-card p{
    padding: 2.4rem 0px 1rem 2.4rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    transition: all ease-in-out 300ms;
    letter-spacing: 1px;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    margin-bottom: 1.5rem;
    z-index: 10;
    transition: all ease-in-out 300ms;
}

.portfolio-card-stack {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.portfolio-card-stack .card{
    height: 80%;
    width: 100%;
    position: absolute;
    border-radius: 2rem;
}


.portfolio-card-stack .card:nth-child(1){
    width: 80%;
    bottom: 40px;
    opacity: 0.5;
    background-color: #c7c7c7;
}

.portfolio-card-stack .card:nth-child(2){
    width: 90%;
    background-color: #c9c9c9;
    bottom: 20px;
}

.portfolio-card-row a:nth-child(1) .portfolio-card-stack .card:nth-child(3) {
  background: var(--white) url("../../assets/images/p0.png");
  bottom: 0;
  background-position: center;
  background-size: cover;
}

.portfolio-card-row a:nth-child(2) .portfolio-card-stack .card:nth-child(3) {
  background: var(--white) url("../../assets/images/p1.png");
  bottom: 0;
  background-position: center;
  background-size: cover;
}

.portfolio-card-row a:nth-child(3) .portfolio-card-stack .card:nth-child(3) {
  background: var(--white) url("../../assets/images/p2.png");
  bottom: 0;
  background-position: center;
  background-size: cover;
}




.portfolio-card-btn{
    position: absolute;
    height: 86px;
    width: 86px;
    border-radius: 50px;
    bottom: 8px;
    right: 8px;
    /* background-color: #1D2939; */
    background: #1D2939 url("../../assets/svgs/link.svg");
    background-position: center;
    background-size: 64%;
    background-repeat: no-repeat;
    transition: all ease-in-out 300ms;
}

.portfolio-card:hover .portfolio-card-btn{
    background-color: var(--primary);
    box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.25);
}

.portfolio-card:hover .portfolio-card-btn{
    transform: rotate(45deg);
}
.portfolio-card:hover{
    /* background-color: var(--primary); */
    box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.25);
}
.portfolio-card:hover p{
    color: var(--white);
}

.portfolio-card:hover .divider{
    margin-bottom: 0;
    background-color: var(--white);
}

.skills-section{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section p{
    background-color: #f2f4f7;
    border-radius: 2.4rem;
    font-size: 1.2rem;
    width: fit-content;
    padding: 0.5rem 1.65rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.skills-section .skill-heading {
    letter-spacing: 0.5px;
    background-color: #1D2939;
    color: var(--white);
}

.skills-section p:hover{
    background-color: #1D2939;
    color: var(--white);
}

.skills-section .skill-heading:hover {
    background-color: #f2f4f7;
    color: #1D2939;
    font-weight: bold;
}
