body {
  height: 100vh;
  width: 100vw;
  background-color: var(--surface);
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; 
}

#image-track > .image {
  border-radius: 2.4rem;
  width: 42vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.heading{
  margin: 5rem;
  position: absolute;
  line-height: 1.32;
  z-index: 10;
  color: white;
  font-size: 3.6rem;
}

.heading span{
    color: var(--primary);
}

.project-section{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    /* width: 100%; */
    /* padding: 6.4rem 4.6rem; */
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat;
    /* border-radius: 40px; */
    background-image: url("../../assets/images/projects-background.png");
}

.projects-background{
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.projects-background img{
    position: absolute;
    z-index: 0;
    transition: all 1600ms ease;
}

.projects-background img:nth-child(1){
    left: -12.5%;
    top: 76%;
    height: 46rem;
}

.projects-background img:nth-child(2){
    top:  46%;
    left: 32%;
}

.projects-background img:nth-child(3){
    right: -8%;
    height: 100%;
    bottom:  -80%;
}
 
